<div class="home-screen">
  <h1>Array Methods</h1>
  <div class="container">
    <aside>
      <button id="add-user" (click)="getRandomUser()">Add User 👱‍♂️</button>
      <button id="double" (click)="doubleMoney()">Double Money 💰</button>
      <button id="show-millionaires" (click)="showMillionaires()">
        Show Only Millionaires 💵
      </button>
      <button id="sort" (click)="sortByRichest()">Sort by Richest ↓</button>
      <button id="calculate-wealth" (click)="calculateWealth()">
        Calculate entire Wealth 🧮
      </button>
    </aside>

    <main id="main">
      <h2><strong>Person</strong> Wealth</h2>
      <div *ngFor="let user of data" class="person">
        <strong>
          {{ user.name }}
        </strong>
        {{ user.money | currency }}
      </div>
      <div>
        <h3 *ngIf="wealth">
          Total Wealth:
          <strong >
            {{ wealth | currency }}
          </strong>
        </h3>
      </div>
    </main>
  </div>
</div>
